<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Main Layout</h1>
    <div>
    	<%= content %>
    </div>
  </body>
</html>
