<div class="background-image" style="background: url('<%= site.staticUrl %>/images/hbv-bg.jpg') no-repeat; background-size: cover;"></div>

<!-- <div class="fb-tab-btn">
<a href="#" data-toggle="modal" data-target="#myModal">Send   oss en henvendelse</a>
</div> -->