<div class="jumbotron">
  <h1>LIVEIMENTO</h1>
  <p>Kunderservice gjort Enkelt</p>
  <div class="btn-container">
  <a href="#" class="btn btn-imento" data-toggle="modal" data-target="#myModal">Send   oss en henvendelse</a>
  </div>
</div>